# Copy this file to .env and fill in your credentials.
# Source it before running assign_cve_ids or publish_cve_advisories:
#   source .env
#
# These credentials are optional CI assigns CVE IDs automatically when changes
# are pushed. You should assign them locally because that will also set the
# Bugzilla aliases.

CVE_ENV=prod
CVE_ORG=mozilla
CVE_USER=
CVE_API_KEY=

BUGZILLA_API_KEY=
